#wrap {
    float: left;
    position: relative;
    left: 50%;
}

#content {
	width: 930px; 
    float: left;
    position: relative;
    left: -50%;
}

.thumb {
	max-width: 50px;
	max-height: 50px;
}

.ng-invalid.ng-dirty { border-color: red }
.ng-valid.ng-dirty { border-color: green }